<span class="balance-change-field">
  {{balanceChange.entryDate}}
</span>
<span class="balance-change-field">
  {{money balanceChange.value currencySymbol}}
</span>
<span class="balance-change-field">
<button {{action (action delete balanceChange)}}>
x
  </button>
</span>