{{progress-bar widthPercent=petState.currentHealth class="expense-bar"}}

<p>Health: {{rounder-num petState.currentHealth}}</p>
<p>Defence: {{rounder-num petState.currentDefence}}</p>
<p>Attack: {{rounder-num petState.currentAttack}}</p>