<p class="earned-text">{{text}}</p>
<div class="amount">{{totalMoneyEarned}}</div>
{{#if (lt totalMoneyEarned 6000)}}
  <div class="decrease">  
    <div class="arrow arrow-down decrease"></div>
    10% decrease
  </div>
{{else}}
  <div class="increase"> 
    <div class="arrow arrow-up increase"></div>
    17% increase
  </div>
{{/if}}
