<h3> Pet Form </h3>
{{!-- {{#each battle.errors as |error|}}
  <p>
    {{error.attribute}}:
    {{error.message}}
  </p>
{{/each}} --}}

<form {{action 'createPetModal' on="submit"}}>

  {{input value=name}}

  <button class="submit" type="submit">
    Submit
  </button>
</form>