{{!-- <div class="shape-text">
  Currenct Shape: {{shape}}
</div> --}}
 {{!-- could either conditionally render style or new div for tirangle --}}
<div class="{{shape}} shape {{colour}}" style="background: {{colour}}"></div>
<br />