<div class="sidebar">
  <ul class="sidebar-items">
    <li class="sidebar-item user-profile">
      {{#link-to "dashboard.settings"}}
        {{#if (eq currentUser.image null)}}
          {{fa-icon "user" size=5}}
        {{else}}
          <img src={{currentUser.image}} alt="">
        {{/if}}
        {{currentUser.email}}       
      {{/link-to}}
    </li>
    <li class="sidebar-item">
      {{#link-to "dashboard.overview"}}
        Overview        
      {{/link-to}}
    </li>
    <li class="sidebar-item">
      {{#link-to 'dashboard.pets'}}
        Pets        
      {{/link-to}}
    </li>
    <li class="sidebar-item">
      {{#link-to 'dashboard.battles'}}
        Battles        
      {{/link-to}}
    </li>
    <li class="sidebar-item">
      {{#link-to 'dashboard.stats'}}
        Stats
      {{/link-to}}
    </li>
  </ul>
</div>