$navbar-height: 60px;
$sidebar-width: 200px;
$navbar-background: #2D2D2D;
$sidebar-active-item: #D8D8D8;
$green: #27B14E;
$red: tomato;
$background: #CFCFCF;
$main-background: #fff;
$nav-black: #2D2D2D;